html, body {
	height: 100%;
	margin: 0;
	padding: 0;

}
body {
	min-height: 100%;
  width: 750px;
	padding: 0 10px;
	margin: 0 auto;
  position: relative;

}
div#contenu {
	/* Pour éviter la superposition du pied de page et du contenu : */
	padding-bottom: 0px;
	font-size: 12px;
	min-height: 66%;
	border:0.5px solid black;

}
footer {
	font-size: 12px;
	background-color: #727272;
	padding: 8px;
}
header{
	font-size: 12px;
	background-color: #727272;
	padding: 8px;
}
table{
	margin: 10px
}

p{


}

td{
	padding: 11px;
}
h1 {
	text-align: center;
}

header > p{
	font-weight: bold;
	text-align: center;
}
